
<div>
 				<md-list>	
					  <md-list-item ng-repeat="item in items">
					  <!-- 	<md-checkbox ng-model="item.checked" ng-change="updateItem(item)"></md-checkbox>-->
					    <p> {{ item.name }} </p>
					    <p> {{ item.loginid }} </p>
					    <md-button class="md-raised md-warn" ng-click="showConfirm($event,item)" >Delete</md-button>						  
					  </md-list-item>  
				</md-list>
				
				
		
		<form class="form-horizontal" role="form" >
				 <md-input-container class="md-block">
        		 <label>Name</label>
        			<input md-maxlength="30" required="" name="name" ng-model="name">
        			
			        <div ng-messages="projectForm.name.$error">
			          <div ng-message="required">This is required.</div>
			          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
			        </div>
      			</md-input-container>
      			
      			
      			<md-input-container class="md-block">
        		 <label>Login Id</label>
        			<input md-maxlength="30" required="" name="loginid" ng-model="loginid">
        			
			        <div ng-messages="projectForm.loginid.$error">
			          <div ng-message="required">This is required.</div>
			          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
			        </div>
      			</md-input-container>
      			
      			<md-input-container class="md-block">
        		 <label>Password</label>
        			<input type="password" md-maxlength="30" required="" name="password" ng-model="password">
        			
			        <div ng-messages="projectForm.password.$error">
			          <div ng-message="required">This is required.</div>
			          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
			        </div>
      			</md-input-container>
      			
      			 <md-button class="md-raised md-primary" ng-click="addItem(name,loginid,password)" ng-disabled="!name" >Save</md-button>
      </form>			
     
       
