.idea/workspace.xml
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/libraries/
.idea/copyright/

.idea/compiler.xml
ng-spring-boot.iml
.project
.classpath
.settings/
target/
bower_components/


